html, body, #app {
  width: 100%;
  height: 100%;
  margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Inter', system-ui, sans-serif;
  font-size: 22px;          /* tamaño base */
  background: #1D1D27;
  color: white;
  line-height: 1.5;
}
